#Yosoy .contenido{
    margin:2rem 
 }

#Yosoy .box-decripcion{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
 

}

#Yosoy .child p{
    margin-bottom: 2px;   
}